@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply text-ink antialiased font-body;
  background: #085078;
  background-image: linear-gradient(to right, #85d8ce, #085078);
}

html {
  @apply h-full;
}

* {
  @apply border-border;
}

input[type="date"] {
  @apply rounded-lg;
}

.react-datepicker,
.vm-datepicker {
  @apply bg-white p-3 text-sm text-ink shadow-lg font-body;
}

.react-datepicker__header,
.vm-datepicker .react-datepicker__header {
  @apply border-b border-border bg-white text-sm;
}

.react-datepicker-popper,
.vm-datepicker-popper {
  border-radius: theme("borderRadius.2xl");
  overflow: hidden;
}

.react-datepicker .react-datepicker__current-month,
.react-datepicker .react-datepicker-time__header,
.react-datepicker .react-datepicker-year-header,
.vm-datepicker .react-datepicker__current-month,
.vm-datepicker .react-datepicker-time__header,
.vm-datepicker .react-datepicker-year-header {
  @apply text-base font-semibold;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name,
.vm-datepicker .react-datepicker__day-name,
.vm-datepicker .react-datepicker__day,
.vm-datepicker .react-datepicker__time-name {
  @apply text-sm;
}

.react-datepicker__day,
.react-datepicker__day-name,
.vm-datepicker .react-datepicker__day,
.vm-datepicker .react-datepicker__day-name {
  @apply w-9 h-9 leading-9;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.vm-datepicker .react-datepicker__day--selected,
.vm-datepicker .react-datepicker__day--keyboard-selected,
.vm-datepicker-day--selected {
  @apply bg-brand-600 text-white rounded-full transition;
}

.react-datepicker__day:hover,
.vm-datepicker .react-datepicker__day:hover,
.vm-datepicker-day:hover {
  @apply bg-brand-100 text-brand-900;
}

.dark {
  color-scheme: dark;
}
