@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply text-ink antialiased font-body;
  background: #085078;
  background-image: linear-gradient(to right, #85d8ce, #085078);
}

html {
  @apply h-full;
  background: #eef2ff;
}

* {
  @apply border-border;
}

.dark {
  color-scheme: dark;
}
